body {
	background-color: #f7f5f4;
	min-width: 310px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    text-shadow: 1px 1px 1px black; 
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.cabecalho {
	font-size: 2em;
	padding:1.5rem;
	background-color: #e53436;
	margin-bottom: 0.5rem;
}

.colunas {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

#col-md-4 {
	display:none;
	position: relative;
	top:0;
	height:50%;
	float:left;
	margin-bottom: 1rem;
}

#col-md-8 {
	display:block;
	height:50%;
	margin: 2rem;
	align-items: flex-start;
}

.row {
	display:flex;
	margin:0.5rem 1rem 0.5rem 1rem; 
	border-width: 1px;
	border-radius: 5px;
	font-family: sans-serif;
	height:11rem;
	padding:1rem;
	background-color: rgba(215,0,11,0.7);
	flex-direction: column;
	align-items: center;
  justify-content: center;
}

.row h3{
	padding-bottom: 0.5rem;
}

.hidden {
	padding:0.1rem;
	text-align: center;
}

#titulo-grande{
	font-size: 1.3rem;
	padding-bottom: 0.2rem;
}

.row p {
	margin-bottom:0.2rem;
	color:#1f272d;
	font-weight: normal;
}

.textinho {
	padding:3rem 1rem 1rem 1rem;
	text-align: justify;
  text-justify: inter-word;
}

.textinho p {
	padding-bottom:1rem;
	color: #161616;
}

h1{
	font-weight: bold;
	color:#F7F7F7;
	text-shadow: 1px 1px 1px black;
	padding-top:1rem;
	padding-left: 0.5rem;
}

h3 {
	color:white;
	text-shadow: 1px 1px 1px black;
	font-size: 1.7rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align:center;
}

h2 {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-family: sans-serif;
	color: #353334;
	padding-left: 0.6rem;
}

h4 {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-family: sans-serif;
	font-weight: bold;
	color: #363636;
}

#home {
	font-size:1.3rem;
	display: flex;
	justify-content: flex-end;
	font-family:sans-serif;
	border:0;


}

h1, h3 {
	font-family: 'Varela Round';
}

.texto {
	font-family: sans-serif;
	font-size: 1.08rem;
}

.foto {
	margin-top:1rem;
	width:100%;
	height:100%;
}

@font-face {
	font-family: 'Varela Round', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Varela+Round'); 
}

p, a {
	padding-bottom: 0.15rem;
}

a{
	color:#171c23;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;

}

.buttons{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Carrossel*/
* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  opacity: 0.5;
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*LOADING GIF*/
#loader {
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid red;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 1s linear infinite; /* Safari */
	  animation: spin 1s linear infinite;
		margin-bottom: 20%;
		position: fixed;
		margin-top: 15%;
		margin-bottom:10%;
		justify-content: center;
		left: 33%;
	}

	/* Safari */
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

#footer {
		position:relative;
		background-color: #635f60;
		color: #fefefe;
    bottom:0;
    width:100%;
    height:4rem;
    text-align: center;
    padding-top:1rem;
    font-size:0.8rem;
    margin-top: 1rem;
    border:0;
		display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer p {
	margin-bottom: 0.2rem;
	text-shadow: 0.1px 0.1px 0.2px black;

}

.footer-home {
		position:relative;
		background-color: #635f60;
		color: #fefefe;
    bottom:0;
    width:100%;
    height:4rem;
    text-align: center;
    padding-top:1rem;
    font-size:0.7rem;
    margin-top: 1rem;
    border:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-home p {
	text-shadow: 0.1px 0.1px 0.2px black;
}

.icones {
	width: 25%;
}

.icones img{
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
}




@media (min-width: 420px){
	body {
		min-width: 650px;
		background-color: #f7f5f4;
	}

	.cabecalho {
		font-size: 2.3em;
		padding:1.5rem;
		min-width: 420px;
		background-color: #e53436;
		margin-bottom: 0.5rem;
	}

	.container {
	    display: none;
	    cursor: pointer;
	}

	.colunas {
		display:flex;
		min-width: 500px;
		flex-direction: row;
		justify-content: flex-start;
	}

	#col-md-4 {
		display: block;
		position: relative;
		top:0;
		height:50%;
		width: 33%;
	}

	.carrossel {
		display:block;
		width: 65%;
		height:50%;
		margin-right: 1rem;
		margin-left:1rem;
		margin-top: 1rem;
		align-items: center;
	}

	#col-md-8 {
		display:block;
		width: 60%;
		height:50%;
		margin-right: 2rem;
		margin-left:2rem;
		margin-top: 1rem;
	}

	.row {
		display:inline-grid;
		margin:0.3rem 1rem 0.3rem 1rem;
		border-width: 1px;
		border-radius: 5px;
		height:10.5rem;
		width:90%;
		background-color:  rgba(215,0,11,0.7);
  	vertical-align: middle;
  	padding:0;
	}

	.hidden {
		display:none;
		font-family: sans-serif;
		font-size: 1.08rem;
		transition: 5s;
	}

	#titulo-grande{
	font-size: 1.5rem;
	}

	.row:hover .hidden {
		display:block;
	}

	.row:hover h3 {
		display: none;
	}


	.textinho {
		padding:3rem 0.5rem 1rem 0rem;
		text-align: justify;
	  text-justify: inter-word;
	}

	h1{
		font-weight: bold;
		color:#F7F7F7;
		text-shadow: 1px 1px 1px black;
	}

	h3 {
		font-size: 1.7rem;
		text-shadow: 1.2px 1.2px 1.2px black;
		color: white;
		font-weight: bold;
		margin-bottom: 0.5rem;
		text-align: center;
	}

	h2 {
		font-size: 1.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-family: sans-serif;
		color: #353334;
	}

	h4 {
		font-size: 1.3rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-family: sans-serif;
		font-weight: bold;
		color: #363636;
	}

	#home {
		font-size:1.3rem;
		display: flex;
		justify-content: flex-end;
		font-family:sans-serif;
	}

	h1, h3 {
		font-family: 'Varela Round';
	}

	.texto {
		font-family: sans-serif;
		font-size: 1.08rem;
	}

	@font-face {
		font-family: 'Varela Round', sans-serif;
		src: url('https://fonts.googleapis.com/css?family=Varela+Round'); 
	}

	p, a {
		padding-bottom: 0.15rem;
	}

	a{
		color:#171c23;
		text-decoration:none;
	}

	a:hover{
		text-decoration:underline;

	}

	.buttons{
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	/*Carrossel*/

	 .text {
	 	font-size: 1.2rem
	 }
	

/*LOADING GIF*/
	#loader {
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid red;
		  width: 120px;
		  height: 120px;
		  animation: spin 1s linear infinite;
		  position:relative;
		  margin-top: 20%;
		  margin-bottom:40%;
			justify-content: center;
			left:33%;
		}


		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		.footer-home {
			position:initial;
			bottom:0;
		}

		#footer {
		position:initial;
		}

		.icones {
			width: 15%;
		}

		.icones img{
			width: 17%;
			margin-left: 4%;
			margin-right: 4%;
			margin-bottom: 2%;
		}
}